.root {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title {
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  color: var(--primary-900);
}

.subTitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #475467;
}
