.button {
  border-radius: 8px !important;
  outline: "none" !important;
  color: #344054 !important;
  border: 1px solid var(--border) !important;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05) !important;
}
