* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-900: #101828;
  --border: #d0d5dd;
  --border-secondary: #eaecf0;
  --base-white: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.grow-1 {
  flex-grow: 1;
}
.grow-2 {
  flex-grow: 2;
}
.grow-3 {
  flex-grow: 3;
}

.gap-4 {
  gap: 16px;
}
