.root {
  width: fit-content;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid #e6eaf0;
  padding: 8px 7px;
  margin: 8px 0 14px 8px;
}

.logoContainer {
  background: #141416;
  width: 56px;
  height: 56px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: #175cd3;
}

.menuItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.menuItem {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
